<h1>Add course page</h1>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}


<div class="row">
    <form class="col s12" method="POST" action="/add">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
                <label for="title">Course title</label>
                <span class="helper-text" data-error="Type in title" ></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
                <label for="price">Price</label>
                <span class="helper-text" data-error="Type in price"></span>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="img" type="text" name="img" class="validate" required value="{{data.img}}">
                <label for="img">Picture url</label>
                <span class="helper-text" data-error="Type in image url"></span>
            </div>
        </div>

        <input name="_csrf" type="hidden" value="{{csrf}}">

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
