<h1>Cart</h1>

<div id="cart">
    {{#if courses.length}}
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each courses}}
                <tr>
                    <td>{{title}}</td>
                    <td>{{count}}</td>
                    <td class="price">{{price}}</td>
                    <td>
                        <button class="btn btn-small js-remove" data-id="{{id}}" data-csrf="{{@root.csrf}}">Delete</button>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>

        <p><strong>Price: </strong><span class="price"> {{price}}</span></p>
        <form method="POST" action="/orders">
            <input name="_csrf" type="hidden" value="{{@root.csrf}}">
            <button type="submit" class="btn">Make order</button>
        </form>
    {{else}}
        <p>Cart is empty</p>
    {{/if}}
</div>

